h1 {
    background-color: blanchedalmond;
    color: black;
    text-align: center;
    margin: 10px;
}
.ph0 {
    background-color: rgb(107, 238, 238);
}

.ph1 {
    background-color: rgb(107, 238, 238);
}
.ph2 {
    background-color: rgb(107, 238, 238);
}
.ph3 {
    background-color: rgb(107, 238, 238);
}
.ph4 {
    background-color: rgb(107, 238, 238);
}
.ph5 {
    background-color: rgb(107, 238, 238);
}
.ph6 {
    background-color: rgb(107, 238, 238);
}
.ph7 {
    background-color: #d17b7d;
}
.ph8 {
    background-color: #de95ce;
} 
.ph9 {
    background-color: #de95ce;
}
.ph10 {
    background-color: #de95ce;
}
.ph11 {
    background-color: #de95ce;
}
.ph12 {
    background-color: #de95ce;
}
.ph13 {
    background-color: #de95ce;
}
.ph14 {
    background-color: #de95ce;
}


